.idea

symfony/var/cache/*
symfony/var/log/*
!symfony/var/cache/.gitkeep
!symfony/var/log/.gitkeep

!bin/console
!bin/symfony_requirements
symfony/vendor/

# PHPUnit
symfony/phpunit.xml

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

pwa

symfony/.env

docker/var/log/php/*.log
docker/var/log/nginx/*.log
