{% extends 'base.twig' %}

{% block content %}
    <h1 class="text-info">Eintrag hinzufügen</h1>
    <ul class="list-group">
        <li class="list-group-item bg-dark">
            <button type="button" class="btn btn-info">Eintrag erstellen</button>
        </li>
        <li class="list-group-item bg-dark">
            <button type="button" class="btn btn-info">Einträge einsehen</button>
        </li>
    </ul>
{% endblock %}