{% extends 'base.html.twig' %}

{% block content %}
    <h1 class="text-info">Unter Uns Protokoll</h1>
    <ul class="list-group">
        <li class="list-group-item bg-dark">
            <button type="button" class="btn btn-info" onclick="location.href='/client/protocol/entry/new'">Eintrag erstellen</button>
        </li>
        <li class="list-group-item bg-dark">
            <button type="button" class="btn btn-info" onclick="location.href='/client/protocol/entry'">Einträge einsehen</button>
        </li>
    </ul>
{% endblock %}